{{ partial "header" . }}
{{ $context:= . }}
<main>
  <div class="container">
    <h2>{{ title .Section }}: {{ .Params.name }}</h2>
    <h4>{{ partial "picture-link" . }}</h4>
        {{ partial "columns-query" . }}
      <!-- <div style="text-align:left; font-size: 150%;">
        {{ highlight .Params.command "sql" ""}}
      </div> -->
      {{ partial "render-query-command" (dict "context" . "query" .Params)}}

      {{ partial "render-dependencies" . }}

      </div>
  </div>
</main>

{{ partial "footer" . }}
