[BASIC]
min-public-methods=0

[MASTER]
ignore=odbinfo/pure/parser/sqlite,odbinfo/pure/parser/oobasic

[DESIGN]
max-parents=20

[MISCELLANEOUS]
# List of note tags to take in consideration, separated by a comma.
notes=
