[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
graphviz = "*"
pyyaml = "*"
toml = "*"

[dev-packages]
pylint = "*"
pytest = "*"
autopep8 = "*"

[requires]
python_version = "3.7"
