[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
graphviz = "*"
pyyaml = "*"
toml = "*"
sql_formatter = "*"
xmltodict = "*"
antlr4-python3-runtime = "4.7.2"

[dev-packages]
xenon = "*"
wily = "*"
pylint = "*"
pylint-pytest = "*"
pytest = "*"
pytest-datadir = "*"
pytest-regressions = "*"
autopep8 = "*"
pytest-cov = "*"
mypy = "*"

[requires]
python_version = "3.7"
