[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
graphviz = "*"
pyyaml = "*"
pydantic = "*"
toml = "*"
sql_formatter = "*"
antlr4-python3-runtime = "4.9.3"

[dev-packages]
xmltodict = "*"
xenon = "*"
wily = "*"
pylint = "*"
pylint-pytest = "*"
pytest = "*"
pytest-datadir = "*"
pytest-regressions = "*"
"pytest-benchmark[histogram]" = "*"
isort = "*"
autopep8 = "*"
pytest-cov = "*"
mypy = "*"
lxml = "*"

[requires]
python_version = "3.7.7"
