<table class="table table-bordered">
  <thead>
  <tr>
    <th>Name</th>
    <th>Auto increment</th>
    <th>Nullable</th>
    <th>Typename</th>
    <th>Precision</th>
    <th>Scale</th>
    <th>Is signed</th>
    <th>Writable</th>
    <th>Read only</th>
<!--  autoincrement: bool
      nullable: Union[str, int]
      tablename: str
      typename: str
      precision: str
      scale: str
      issigned: bool
      writable: bool
      readonly: bool -->
  </tr>
  </thead>
  <tbody>
  {{ range .Params.columns }}
   <tr id="{{ .obj_id }}">
      <td>
      {{  .name }}
      </td>
      <td>
      {{  .autoincrement }}
      </td>
      <td>
        {{ .nullable }}
      </td>
      <td>
      {{  .typename }}
      </td>
      <td>
      {{  .precision }}
      </td>
      <td>
      {{  .scale }}
      </td>
      <td>
        {{  .issigned }}
      </td>
      <td>
        {{ .writable }}
      </td>
      <td>
        {{ .readonly }}
      </td>
    </tr>
{{ end }}
</tbody>
</table>
