  {{ $depth:=.subform.depth }}
  {{ $context := .context }}
  <thead>
      {{ if (gt $depth 0 ) }}
      <th colspan={{$depth}}></th>
      {{ end }}
      <th>Name</th>
      <th>Command</th>
      <th>Command type</th>
      <th>Allow deletes</th>
      <th>Allow inserts</th>
      <th>Allow updates</th>
      {{ if (gt $depth 0 ) }}
      <th>Master fields</th>
      <th>Detail fields</th>
      {{ end }}
  </thead>
  <tbody>
    <tr>
      {{ if (gt $depth 0 ) }}
      <td colspan={{$depth}}></td>
      {{ end }}
      <td>{{ .subform.name }}</td>
      <td>{{ partial "render-linked-string" (dict "context" $context "linked_string" .subform.command) }}</td>
      <td>{{ .subform.commandtype }}</td>
      <td>{{ .subform.allowdeletes }}</td>
      <td>{{ .subform.allowinserts }}</td>
      <td>{{ .subform.allowupdates }}</td>
      {{ if (gt $depth 0 ) }}
      <td>{{ .subform.masterfields }}</td>
      <td>{{ .subform.detailfields }}</td>
      {{ end }}
    </tr>
  </tbody>
  {{ if .subform.controls }}
  <thead>
    {{ if (gt $depth 0 ) }}
    <th colspan={{$depth}}></th>
    {{ end }}
    <th>Name</th>
    <th>Id</th>
    <th>Datafield</th>
    <th>Input required</th>
    <th>Empty to null</th>
    <th>Type</th>
  </thead>
  <tbody>
  {{  range .subform.controls }}
    <tr>
      {{ if (gt $depth 0 ) }}
      <td colspan={{$depth}}></td>
      {{ end }}
      <td>{{ .name }}</td>
      <td>{{ .controlid }}</td>
      <td>{{ .datafield }}</td>
      <td>{{ .inputrequired }}</td>
      <td>{{ .convertemptytonull }}</td>
      <td>{{ .type }}</td>
    </tr>
  {{ end }}
  </tbody>
  {{ range .subform.subforms }}
    {{ partial "render-subform" (dict "subform" . "context" $context) }}
  {{ end }}

  {{ end }}



