  {{ $depth:=.subform.depth }}
  {{ $context := .context }}
  <thead>
      {{ if (gt $depth 0 ) }}
      <th colspan={{$depth}}></th>
      {{ end }}
      <th>Name</th>
      <th>Command</th>
      <th>Command type</th>
      <th>Allow deletes</th>
      <th>Allow inserts</th>
      <th>Allow updates</th>
      {{ if (gt $depth 0 ) }}
      <th>Master fields</th>
      <th>Detail fields</th>
      {{ end }}
  </thead>
  <tbody>
    <tr>
      {{ if (gt $depth 0 ) }}
      <td colspan={{$depth}}></td>
      {{ end }}
      <td>{{ .subform.name }}</td>
      {{ if (eq .subform.commandtype "command")}}
       <td>{{ partial "render-query-command" (dict "context" $context "query" .subform.embedded_query )}} </td>
      {{else}}
      <td id="{{ .subform.obj_id }}">{{ partial "render-linked-string" (dict "context" $context "linked_string" (dict "text" .subform.command "link" .subform.link)) }}</td>
      {{end}}
      <td>{{ .subform.commandtype }}</td>
      <td>{{ .subform.allowdeletes }}</td>
      <td>{{ .subform.allowinserts }}</td>
      <td>{{ .subform.allowupdates }}</td>
      {{ if (gt $depth 0 ) }}
      <td>{{ .subform.masterfields }}</td>
      <td>{{ .subform.detailfields }}</td>
      {{ end }}
    </tr>
  </tbody>
  {{ if .subform.controls }}
  <thead>
    {{ if (gt $depth 0 ) }}
    <th colspan={{$depth}}></th>
    {{ end }}
    <th>Name</th>
    <th>Id</th>
    <th>Datafield</th>
    <th>Input required</th>
    <th>Empty to null</th>
    <th>Type</th>
  </thead>
  <tbody>
  {{  range .subform.controls }}
    {{ if (eq .type "ListBox") }}

      <tr>
        {{ if (gt $depth 0 ) }}
        <td colspan={{$depth}}></td>
        {{ end }}
        <td>{{ .name }}</td>
        <td>{{ .controlid }}</td>
        <td>{{ .datafield }}</td>
        <td>{{ .inputrequired }}</td>
        <td>{{ .convertemptytonull }}</td>
        <td>{{ .type }}</td>
      </tr>
      <thead>
        {{ $depthplusone:= (add 1 $depth)}}
        {{ if (gt $depthplusone 0 ) }}
        <th colspan={{$depthplusone}}></th>
        {{ end }}
        <th>List sourcetype</th>
        <th>List source</th>
        <th>Bound column</th>
        <th>Dropdown</th>
      </thead>
      <tr>
        {{ if (gt $depthplusone 0 ) }}
        <td colspan={{$depthplusone}}></td>
        {{ end }}
        <td>{{ .listsourcetype }}</td>
        <td>
        {{ if (eq .listsourcetype "sql") }}
          {{ partial "render-query-command" (dict "context" $context "query" .embedded_query )}}
        {{ else }}
          {{ partial "render-linked-string" (dict "linked_string" (dict "text" .listsource "link" .link) "context" $context) }}
        {{ end }}
        </td>
        <td>{{ .boundcolumn }}</td>
        <td>{{ .dropdown }}</td>
      </tr>
     {{ else }}
     <tr>
       {{ if (gt $depth 0 ) }}
       <td colspan={{$depth}}></td>
       {{ end }}
       <td>{{ .name }}</td>
       <td>{{ .controlid }}</td>
       <td>{{ .datafield }}</td>
       <td>{{ .inputrequired }}</td>
       <td>{{ .convertemptytonull }}</td>
       <td>{{ .type }}</td>
     </tr>
     {{ end }}
  {{ end }}
  </tbody>
  {{ range .subform.subforms }}
    {{ partial "render-subform" (dict "subform" . "context" $context) }}
  {{ end }}

  {{ end }}



