{{ partial "header" . }}
{{ $context:= . }}
<main>
  <h2>Query: {{ .Params.name }}</h2>
  <div class="container">
  <div class="row">
    <div class="col">
      {{ partial "columns-query" . }}
    </div>
  </div>
  <div class="row">
    <div class="col-8">
    <!-- <div style="text-align:left; font-size: 150%;">
      {{ highlight .Params.command "sql" ""}}
    </div> -->
    {{ partial "render-query-command" (dict "context" . "query" .Params)}}
    </div>
    {{ partial "render-uses" . }}
    {{ partial "render-used-by" . }}
  </div>

</div>
</main>

{{ partial "footer" . }}
