{{ if or .Paginator.HasPrev .Paginator.HasNext }}

<div class="pages">

    {{ if .Paginator.HasPrev }}
        <a class="icon pages-icon" href="{{ .Paginator.Prev.URL }}" rel="prev">
            <i class="fa fa-arrow-left"></i>
        </a>
    {{ end }}
    {{ $pageNumber := .Paginator.PageNumber }}
    {{ range .Paginator.Pagers }}
        {{ if (eq $pageNumber .PageNumber) }}
            &nbsp;{{ .PageNumber }}&nbsp;
        {{ else }}
            <a href="{{ .URL }}">&nbsp;{{ .PageNumber }}&nbsp;</a>
        {{ end }}
    {{ end }}

    {{ if .Paginator.HasNext }}
        <a class="icon pages-icon" href="{{ .Paginator.Next.URL }}" rel="next">
            <i class="fa fa-arrow-right"></i>
        </a>
    {{ end }}

</div>

{{ end }}
